<ul class="piano">
	<li>
		<div class="white-key"> <span class="letter-white">F</span> </div>
	</li>
	<li>
		<div class="black-key"> <span class="letter-black">F#</span> </div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="transparent-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>




	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="transparent-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>



	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="transparent-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
	<li>
		<div class="black-key"></div>
	</li>
	<li>
		<div class="white-key"></div>
	</li>
</ul>
