<% provide(:title, "Saxophone Notes") %>
<div class="container-fluid">
<br>
    <% if logged_in? %>
      <% if current_user.admin? %>
  			<%= link_to 'New Sax Note', new_sax_note_path, class: 'btn btn-primary' %>
  		<% end %>
  	<% end %>
  <hr>
  <%= render 'sax_notes' %>
</div>

<%# SaxNote.find_by_sql("SELECT note FROM sax_notes ORDER BY number").each do |sax| %>
  <%#= sax.note %>
<%# end %>
