 <div class="container-fluid pointers">
	<div class="row">
	  <!-- <div class="col-xs-12 col-sm-1 col-md-1"></div> -->
	  <div class="col-xs-12 col-sm-6 col-md-6 img-house">
	    <a href="<%= piano_scales_path %>" class="img-link"> 
	    	<div class="img-writing">
		        <h3>Piano Scales</h3>
		        <!-- <p>Scaling</p> -->
		    </div>
	    	<img src="https://farm5.staticflickr.com/4501/38088127192_37f9c69ddb_o_d.png" class="#img-responsive pointer">

	    </a>
	  </div>
	  <!-- <div class="col-xs-12 col-sm-2 col-md-2"></div> -->
	  <div class="col-xs-12 col-sm-6 col-md-6 img-house">
	    <a href="<%= piano_chords_path %>" class="img-link"> 

	    	<div class="img-writing">
		       <h3>Piano Chords</h3>
		       <!-- <p>Chording and Scaling</p> -->
		    </div>
	    	<img src="https://farm5.staticflickr.com/4501/38088127192_37f9c69ddb_o_d.png" class="#img-responsive pointer">
	      
	    </a>
	  </div>
	  <!-- <div class="col-xs-12 col-sm-1 col-md-1"></div> -->
	</div>
</div>