<p id="notice"><%= notice %></p>

<button class="btn btn-primary toggle_btn"> Show Legend <span class="glyphicon glyphicon-menu-down"></span> </button>

<h2 class="text_h2">Trumpet Fingering</h2>

<div class="nav_toggle">

  <div class="container-fluid trumpet_legend_cover" style="margin-bottom: 10px;">
    <div class="legend_label"><h4> Legend: </h4> </div>
    <div class="trumpet_legend">1</div>
    <div class="trumpet_legend">2</div>
    <div class="trumpet_legend">3</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @trumpets.each do |trumpet| %>
      <div class="col-xs-3 col-sm-2 col-md-2 trump_container">
        <p class="trump"> <%= trumpet.note %> </p>
        <div class="trumpet_holes">
          <% trumpet.value.split(",").each do |value| %>

            <% if value == "1" %>
              <div class="trumpet_circle pressed"></div>
            <% else %>
              <div class="trumpet_circle"></div>
            <% end %>

         <% end %> 
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

