<div class="container-fluid cover">
<h2 class="text_h2">New Piano Scale</h2>

<%= render 'form', piano_scale: @piano_scale %>

<hr>

<%= render 'scales' %>

<%= link_to 'Back', piano_scales_path %>
</div>
