<div class="container-fluid base-footer">
	<a href="#" class="fa fa-facebook"></a>
	<a href="#" class="fa fa-twitter"></a>
	<a href="#" class="fa fa-instagram"></a>
	<a href="#" class="fa fa-linkedin"></a>


	<p id="p1"> <span class="glyphicon glyphicon-copyright-mark"></span> 2017 SFMusic <span>All Rights Reserved</span></p>
	<p> Designed & Developed by TAB Designs </p>
	<p> Images from pixabay.com </p>
</div>