
<%= render 'layouts/menu' %>
<!-- <div class="jumbotron" id="main_front">
	<div class="container-fluid">
		<h1> SSFNotation </h1>
		<p> <em>Simple Sax Fingering Notation </em> </p>
	</div>
</div> -->