<div>
	<ul id="nav">
		<li class="nav_elements"><%= link_to 'Home', notations_path %></li>
		<li class="nav_elements"><%= link_to 'All Notes', sax_notes_path %></li>
		<li class="nav_elements" id="last"><a href="#">Notes</a></li>
	</ul>
</div>